body{
    color: rgb(236, 227, 228);
    
    font-family:cursive;
}
.profilepic{
    width: 200px;
}
.backgroundimage{
    background-image: url(imges/Windows\ Vista\ Aurora\ Cryo\ by\ V\ E\ G\ A.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    
}
.container{
    max-width: 1200px;
    margin:auto;
    text-align: center;
}
.column{
    float: left;
    width:25%;
}
.containe2{
    max-width: 1200px;
}
.row {
    margin: 0px -18px;
    padding: 8px;
}
.content {
    background-color: white;
    padding: 10px;
    border: 1px solid gray;
}